body {
    font-family: 'IM Fell English SC', serif;
    margin: 0;
    padding: 0;
    background: url('https://i.imgur.com/1e4IKP5.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}

h1, h2.section-title {
    font-family: 'Uncial Antiqua', cursive;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
    font-size: 2.5em;
}

h3.subsection-title {
    font-family: 'Uncial Antiqua', cursive;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
    font-size: 1.5em;
}

p, ul.no-bullets li {
    font-family: 'IM Fell English SC', serif;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
}

a {
    color: #52826B; /* Same green color for hyperlinks */
    text-decoration: none;
    cursor: pointer; /* Ensure cursor changes to pointer for links */
}

a:hover {
    color: #88A28D; /* Lighter green color on hover */
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
    margin: auto;
    position: relative;
}

.main-content {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.header {
    background-color: rgba(40, 70, 56, 0.9);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    border: 6px double #88A28D;
    border-color: #88A28D #2B4D3E;
}

.header h1 {
    margin: 0;
    font-size: 2.5em;
}

.content-container {
    background-color: rgba(50, 50, 50, 0.9);
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    flex-grow: 1;
    overflow-y: auto;
    position: relative;
    height: 500px;
    border: 6px double #1F3C2F;
    border-color: #1F3C2F #10291C;
}

/* Custom scrollbar styles for content-container */
.content-container::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

.content-container::-webkit-scrollbar-track {
    background: rgba(50, 50, 50, 0.7); /* Change to a gray color similar to the content-container */
    border-radius: 10px; /* Rounded corners */
    border: 2px solid rgba(26, 26, 26, 1); /* Darker border around the track */
}

.content-container::-webkit-scrollbar-thumb {
    background-color: rgba(30, 30, 30, 0.9); /* Thumb color */
    border-radius: 10px; /* Rounded corners */
    border: 3px solid rgba(50, 50, 50, 0.9); /* Border around the thumb */
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); /* Inner shadow for a 3D effect */
}

/* Firefox scrollbar styles for content-container */
.content-container {
    scrollbar-width: thin; /* Firefox: Thin scrollbar */
    scrollbar-color: rgba(30, 30, 30, 0.9) rgba(50, 50, 50, 0.7); /* Firefox: Thumb and track colors */
}

.profile-section {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.profile-image-token {
    width: 300px;
    height: auto;
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: none;
}

.profile-image {
    width: 340px;
    height: auto;
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.profile-image-full {
    width: 400px;
    height: auto;
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
}

.text-content {
    max-width: 60%;
}

.divider {
    text-align: center;
    margin: 10px 0;
}

.divider img {
    width: 60%;
}

.back-button {
    font-family: 'IM Fell English SC', serif;
    font-size: 1.2em;
    padding: 10px 20px;
    background-color: #2B4D3E;
    color: white;
    border: 2px solid #1F3C2F;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
}

.back-button:hover {
    background-color: #52826B;
    transform: scale(1.05);
}

body.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

body.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

.indented {
    text-indent: 2em; /* Adjust the indent size as needed */
    margin-bottom: 1em; /* Optional: Add some space between paragraphs */
}
